body {
  background-color: #ede0d8;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.head {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.header {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #ede0d8;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 250px;
  height: 60px;
  border-radius: 10px;
}
.header-actions {
  display: flex;
  flex-direction: row;
}
.header-text {
  text-decoration: none;
  text-align: center;
  border-radius: 1000px;
  border: 1px solid #ede0d8;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
}
.header-text-a {
  text-decoration: none;
  font-family: sans-serif "Times New Roman", Times, serif;
  color: #ede0d8;
  font-size: 20px;
}
.header-text:hover {
  background-color: #ede0d8;
  transition-duration: 1s;
  color: white;
}
.header-text-a:hover {
  color: white;
}
.header2 {
  width: 100%;
  height: 60px;
  background-color: white;
  border: 1px solid #ede0d8;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.header2-actions {
  text-decoration: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header2-actions-a {
  text-decoration: none;
  font-family: sans-serif "Times New Roman", Times, serif;
  color: #ede0d8;
  font-size: 20px;
}
.header2-actions-a:hover {
  text-decoration: none;
  font-family: sans-serif "Times New Roman", Times, serif;
  color: #d6cac3;
  font-size: 22px;
  transition-duration: 1s;
}
body {
  margin: 0px;
}
.postContainer {
  background-color: #ede0d8;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-top: 80px;
}

.containerSlider {
  margin-top: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.containerSlider > img {
  width: 80%;
}
.slider {
  width: 90%;
  height: 500px;
}
.containerContact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-top: 250px;
  background-color: #ede0d8;
  padding-top: 30px;
  padding-bottom: 30px;
}
.contactText {
  display: flex;
  flex-direction: column;
  width: 45%;
  font-size: 60px;
  text-align: center;
  color: white;
  font-family: sans-serif "Times New Roman", Times, serif;
}
.contactInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  margin-top: 25px;
  font-family: "Courier New", Courier, monospace;
}
.contactInput1 {
  width: 90%;
  height: 30px;
  background-color: #ede0d8;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
}
.contactInput2 {
  width: 90%;
  height: 100px;
  outline: none;
  background-color: #ede0d8;
  border: 1px solid white;
  margin-top: 5px;
  margin-bottom: 5px;
  resize: none;
}
.contactInput3 {
  width: 90%;
  height: 30px;
  outline: none;
  background-color: white;
  color: #ede0d8;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  border: none;
  text-align: center;
}
.containerContactA {
  text-decoration: none;
  font-family: sans-serif "Times New Roman", Times, serif;
  color: white;
  font-size: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 0px) and (max-width: 576px) {
  .header2-actions-a {
    font-size: 10px !important;
  }
  .header-text-a {
    font-size: 7px !important;
  }
  .header-text {
    width: 50px;
    height: 25px;
  }
  .contactText {
    font-size: 20px;
  }
  .containerContactA {
    font-size: 15px;
  }
  .contact {
    display: flex;
    flex-direction: column;
  }
  .contactText {
    width: 100%;
  }
  .contactInput {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .header2-actions-a {
    font-size: 10px !important;
  }
  .header-text-a {
    font-size: 8px !important;
  }
  .contactText {
    font-size: 30px;
  }
  .containerContactA {
    font-size: 25px;
  }
}

@media screen and (min-width: 768px) {
  .header2-actions-a {
    font-size: 15px !important;
  }
  .header-text-a {
    font-size: 15px !important;
  }
  .contactText {
    font-size: 40px;
  }
  .containerContactA {
    font-size: 20px;
  }
}

@media screen and (min-width: 992px) {
  .header2-actions-a {
    font-size: 15px !important;
  }
  .header-text-a {
    font-size: 15px !important;
  }
  .contactText {
    font-size: 50px;
  }
  .containerContactA {
    font-size: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .header2-actions-a {
    font-size: 20px !important;
  }
  .header-text-a {
    font-size: 20px !important;
  }
  .contactText {
    font-size: 60px;
  }
  .containerContactA {
    font-size: 50px;
  }
}
